@model BaseManagementViewModel

<div class="container">
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Password</th>
                <th scope="col">Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <form method="post" asp-action="AddNewAccount">
            <tr>
                <td>
                    <input asp-for="NewAccount.Login" type="text" class="form-control shadow-none">   
                </td>
                <td><input asp-for="NewAccount.Password" type="text" class="form-control shadow-none"></td>
                <td><input asp-for="NewAccount.Admin" class="form-check-input" type="checkbox"></td>
                <td><button type="submit" class="btn btn-sm btn-primary m-1">Add</button></td>
            </tr>
            </form>
            @foreach (var account in Model.Accounts)
            {
                <form method="post">
                    <tr>
                        <td>
                        <input asp-for="@account.Id" name="Id" type="text" class="form-control shadow-none" hidden>
                            <input asp-for="@account.Login" name="Login" type="text" class="form-control shadow-none">
                        </td>
                        <td><input asp-for="@account.Password" name="Password" type="text" class="form-control shadow-none"></td>
                    <td><input asp-for="@account.Admin" name="Admin" class="form-check-input" type="checkbox"></td>
                        <td>
                        <button type="submit" class="btn btn-sm btn-primary m-1" asp-action="UpdateAccount">Save</button>
                        <button type="submit" class="btn btn-sm btn-primary m-1" asp-action="DeleteAccount">Delete</button>
                        </td>
                    </tr>
                </form>
            }
            
        </tbody>
    </table>
</div>