@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="container mt-3">
    <div class="row">
        <div class="col d-flex">
            <div class="photo border me-3" style="height: 150px; width: 150px">
                
            </div>

            <div class="d-flex flex-column">
                <h5>FIRST NAME    LAST NAME</h5>

                <div class="mt-auto">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" href="#appointments" role="tab">
                                <i class="bi bi-calendar-week-fill me-1"></i>
                                <span class="d-none d-md-inline">Appointments</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#specialisations" role="tab">
                                <i class="bi bi-collection-fill me-1"></i>
                                <span class="d-none d-md-inline">Specialisations</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#settings" role="tab">
                                <i class="bi bi-gear-fill me-1"></i>
                                <span class="d-none d-md-inline">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-content mt-3">
        <div class="tab-pane fade active show" id="appointments" role="tabpanel">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="specialisations" role="tabpanel">
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th>Date from</th>                  
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="settings" role="tabpanel">
            <form method="post">
                <div class="form-group mb-2">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" value="Admin" disabled>
                </div>

                <button class="btn btn-primary" id="changePassword" type="button">Change password</button>

                <div id="password-box" class="visually-hidden mt-2">
                    <div class="form-group my-2">
                        <label for="password">New password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>     
          
        </div>
    </div>
</div>

<script>
    document.getElementById("changePassword").addEventListener("click", () => {
        console.log("click");
        document.getElementById("password-box").classList.toggle("visually-hidden");
    });
</script>


@*
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>
*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
